{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          {% if post.authors %}
            {% assign auth_arr = post.authors | split: ", " %}
            {% assign auth_count = auth_arr | size %}
            <p class="pub-authors">{% if auth_count > 7 %}{% assign lorenzi_in_first7 = false %}{% for i in (0..6) %}{% assign a = auth_arr[i] %}{% if a contains "Lorenzi" %}{% assign lorenzi_in_first7 = true %}{% endif %}{% endfor %}{% for i in (0..6) %}{% assign a = auth_arr[i] %}{% if i > 0 %}, {% endif %}{% if a contains "Lorenzi" %}<u>{{ a }}</u>{% else %}{{ a }}{% endif %}{% endfor %}, et al.{% unless lorenzi_in_first7 %}{% assign last_a = auth_arr | last %}{% assign second_last_idx = auth_count | minus: 2 %}{% assign second_last_a = auth_arr[second_last_idx] %}{% if last_a contains "Lorenzi" %}, <u>{{ last_a }}</u>{% elsif second_last_a contains "Lorenzi" %}, <u>{{ second_last_a }}</u>{% endif %}{% endunless %}{% else %}{% for a in auth_arr %}{% unless forloop.first %}, {% endunless %}{% if a contains "Lorenzi" %}<u>{{ a }}</u>{% else %}{{ a }}{% endif %}{% endfor %}{% endif %}</p>
          {% endif %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.paperurl %}
      <p class="pub-links">
        {% if post.paperurl contains "pubmed" %}
          <a href="{{ post.paperurl }}" class="pub-badge pub-badge--pubmed" target="_blank" rel="noopener">
            <i class="fas fa-book-open" aria-hidden="true"></i>&nbsp;PubMed
          </a>
        {% elsif post.paperurl contains "arxiv" %}
          <a href="{{ post.paperurl }}" class="pub-badge pub-badge--arxiv" target="_blank" rel="noopener">
            <i class="fas fa-file-lines" aria-hidden="true"></i>&nbsp;arXiv
          </a>
        {% else %}
          <a href="{{ post.paperurl }}" class="pub-badge pub-badge--doi" target="_blank" rel="noopener">
            <i class="fas fa-external-link-alt" aria-hidden="true"></i>&nbsp;Paper
          </a>
        {% endif %}
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="pub-badge pub-badge--slides" target="_blank" rel="noopener">
            <i class="fas fa-desktop" aria-hidden="true"></i>&nbsp;Slides
          </a>
        {% endif %}
      </p>
    {% elsif post.slidesurl %}
      <p class="pub-links">
        <a href="{{ post.slidesurl }}" class="pub-badge pub-badge--slides" target="_blank" rel="noopener">
          <i class="fas fa-desktop" aria-hidden="true"></i>&nbsp;Slides
        </a>
      </p>
    {% endif %}

  </article>
</div>
